@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap");
.resume {
  display: flex;
  flex-direction: row;
  background-size: cover;
  background-position: center;
  width: 210mm;
  height: 297mm;
  padding: 20px;
  gap: 20px;
  font-size: 14px;
  font-family: "Inter", sans-serif;
}
.resumeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Left Panel */

.leftPanel {
  width: 30%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}

.leftPanel h1 {
  color: #ffffff;
  font-size: 32px;
  font-weight: 300;
}

.leftPanel h2 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}

.leftPanel h3 {
  font-size: 16px;
  text-transform: uppercase;
  border-bottom: 2px solid white;
  padding-bottom: 5px;
}

.leftPanel a {
  color: #2894ff;
  text-decoration: none;
}

.leftPanel a:hover {
  text-decoration: underline;
}

.section {
  font-size: 14px;
  color: rgb(0, 0, 0);
}
/* Right Panel */
.rightPanel {
  width: 70%;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
}

.section h3 {
  font-size: 16px;
  background: #ffef9f;
  color: rgb(0, 0, 0);
  padding: 6px;
  border-radius: 4px;
  margin-bottom: 8px;
  font-weight: 600;
}

.section p {
  font-size: 14px;
  line-height: 1.5;
  color: rgb(0, 0, 0);
}

/* Skills & Languages */
.skillContainer,
.languageContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.skillBubble,
.languageBubble {
  background: white;
  border: 1px solid var(--theme-color);
  border-radius: 15px;
  padding: 4px 10px;
  font-size: 10px;
}

/*project list*/
.bulletList {
  padding-left: 18px; /* Indentation for bullets */
  font-size: 14px; /* Consistent small font */
  line-height: 1.5;
}

.bulletList li {
  list-style-type: disc; /* Regular bullet points */
  margin-bottom: 5px; /* Spacing between items */
}
